includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
        - config
        - database
        - lang
        - routes
    level: 5
    ignoreErrors:
    excludePaths: